
	* {padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #23242b;
	color: #fff;
}
.u-name {
	font-size: 20px;
	padding-left: 17px;
}
.u-name b {
	color: #127b8e;
}
.header i {
	font-size: 30px;
	cursor: pointer;
	color: #fff;
}
.header i:hover {
	color: #127b8e;
}
.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
.user-p img {
	width: 100px;
	border-radius: 50%;
}
.user-p h4 {
	color: #ccc;
	padding: 5px 0;

}
.side-bar {
	width: 250px;
	background: #262931;
	min-height: 100vh;
	transition: 500ms width;
}
.body {
	display: flex;
}
.section-1{
	margin: 30px;
}
.section-1 .title a{
	text-decoration: none;
padding-left: 10px;
display: inline-block;
border: none;
background: green;
padding: 10px 15px;
color: white;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
outline: none;
transition: background 1s;
box-shadow: 0 8px 16px 0 rgba(0,0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.section-1 .title a:hover{
	color: violet;
}
.side-bar ul {
	margin-top: 20px;
	list-style: none;
}
.side-bar ul li {
	font-size: 16px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 500ms background;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.side-bar ul li:hover {
	background: #127b8e;
}
.side-bar ul .active:hover {
	background: transparent;
}

.side-bar ul li a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar .active a{
	color: #127b8e !important;
}
.side-bar .active a i{
	color: #127b8e !important;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 23px;
}
#navbtn {
	display: inline-block;
	margin-left: 70px;
	font-size: 20px;
	transition: 500ms color;
}
#checkbox {
	display: none;
}
#checkbox:checked ~ .body .side-bar {
	width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p{
	visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
	display: none;
}
body.login.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

form {
    width: 350px;  
    background: #fff;
    border-radius: 10px;
}

.form-logo {
    display: block;
    margin: 0 auto 15px;
    width: 120px;         
}
.main-table, .main-table tr,.main-table th,.main-table td{
border: 1px solid #aaa;
border-collapse: collapse;
padding: 10px;
}
.main-table {
	width:50px;
	 margin-top: 20px;
}

table th,
table td {
    white-space: nowrap;
    
}
.delete-btn{
	text-decoration: none;
padding-left: 10px;
display: inline-block;
border: none;
background: red;
padding: 10px 15px;
color: white;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
outline: none;
transition: background 1s;
box-shadow: 0 8px 16px 0 rgba(0,0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.delete-btn a:hover{
	color: chartreuse;
}
.edit-btn{
	text-decoration: none;
padding-left: 10px;
display: inline-block;
border: none;
background:blue;
padding: 10px 15px;
color: white;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
outline: none;
transition: background 1s;
box-shadow: 0 8px 16px 0 rgba(0,0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.edit-btn a:hover{
	color: aqua;
}
.form-1{
	width: 90%;
	max-width: 500px;
}
.input-holder lable{
	display: block;
	margin-bottom: 10px;
}
.input-1{
	border: 2px solid #ccc;
	width: 100%;
	padding: 10px;
	font-size: 15px;
	outline: none;
	border-radius: 5px;
	display: block;
}
.input-1:focus{
border-color: #555;
}
.danger{
	background: #ff98aa;
	color:#B20088 ;
	padding: 10px;
	margin-bottom: 10px;
}
.success{
	background: #80CE91 ;
	color: #009d22;
	padding: 10px;
	margin-bottom: 10px;
}

